<div ng-if="weather.available">
    <h1>Free Code Camp</h1>
    <h2>Local Weather</h2>
    <div>
        <canvas id="icon" width="128" height="128"></canvas>
        <span [textContent]="round(weather.temperature)"></span>
        <button [textContent]="weather.unit" (click)="changeUnit()">Save</button>
    </div>
    <div>
        <span [textContent]="weather.location"></span>
        <span [textContent]="weather.condition"></span>
        <span [textContent]="weather.wind"></span>
    </div>
</div>